@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Pt Serif', serif;
}
header{
  display: flex;
  width: 100%;
  justify-content: center;
}
.img-grid{
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: 1fr 0.2fr 0.8fr 1fr;
  grid-template-areas:
    "img-1 img-1 img-1 img-1"
    "img-2 img-4 img-2 img-6"
    "img-3 img-4 img-5 img-6"
    "img-7 img-7 img-8 img-8";
}

.img-grid > .img-1{
    grid-area: img-1;
    width: 100%;
  }
  
.img-grid > .img-2{
    grid-area: img-2;
    width: 100%;
  }
  
.img-grid > .img-3{
    grid-area: img-3;
    width: 100%;
  }
  
.img-grid > .img-4{
    grid-area: img-4;
     width: 100%;
  }
  
.img-grid > .img-5{
    grid-area: img-5;
     width: 100%;
  }
  
.img-grid > .img-6{
 grid-area: img-6;
 width: 100%;
  }
  
.img-grid > .img-7{
 grid-area: img-7;
 width: 100%;
  }
  
.img-grid > .img-8{
  grid-area: img-8;
  width: 100%;
  }
  
  
